.board{
    display:flex;
    flex-direction:column;
    gap:8px;
    align-items:center;
    margin:0 auto;
}

.board-row{
    display:flex;
    gap:8px;
}

.tile{

    width:60px;
    height:60px;

    border:2px solid #555;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:32px;
    font-weight:bold;

}

.green{
    background:#6aaa64;
    color:white;
}

.yellow{
    background:#c9b458;
    color:white;
}

.gray{
    background:#787c7e;
    color:white;
}